@import './../../utilities/mixins';

.homeContainer {
    height: 100%;

    .homeContent {
        height: calc(100% - 4rem);

        .section {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 60% 40%;

            @include for-phone-only {
                display: flex;
                flex-direction: column;
            }
        }
    }
}